

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  }
  
  To be even more thorough, you may add:
  
  body {
  padding: 5px;
  }
  h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
  margin: 20px 0;
  }
  li, dd, blockquote {
  margin-left: 40px;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }

@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/average-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/average-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/average-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/average-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/average-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/average-sans-v9-latin-regular.svg#AverageSans') format('svg'); /* Legacy iOS */
}

html{
  font-family: 'Average Sans';
  color: black;
  background: hsla(175, 81%, 52%, 1);

  background: linear-gradient(30deg, hsla(175, 81%, 52%, 1) 0%, hsla(239, 27%, 40%, 0.4) 100%);

  background: -moz-linear-gradient(30deg, hsla(175, 81%, 52%, 1) 0%, hsla(239, 27%, 40%, 0.4) 100%);

  background: -webkit-linear-gradient(30deg, hsla(175, 81%, 52%, 1) 0%, hsla(239, 27%, 40%, 0.4) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#23E8D8", endColorstr="#4A4B82", GradientType=1 );
  height: 100%;
}
.content{
  display: flex;
  width: 100%;
  font-size: 50px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .2);
}


button{
  color: #686c6d;
  transform: scale(.95);
  border: none;
  box-shadow: inset 0px 3px 3px #686C6D;
  z-index: 21;
  border-radius: 3px;
  margin: 5px;
  transition: transform 1s;
}
button:hover{
  color: black;
  transform: scale(.99);
  border: none;
  box-shadow: inset 1px 1px 13px #7db7ce;
  box-shadow: 10px 5px 5px rgb(92, 91, 91);
  z-index: 21;
  border-radius: 5px;
  margin: 5px;
  transition: transform 1s;
}
