* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

li,
dd,
blockquote {
  margin-left: 40px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Average Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/average-sans-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/average-sans-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/average-sans-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/average-sans-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/average-sans-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/average-sans-v9-latin-regular.svg#AverageSans")
      format("svg"); /* Legacy iOS */
}

html {
  display: flex;
  flex-direction: column;
  font-family: "Average Sans";
  color: black;
  background: rgb(162, 162, 162);
  height: 100%;
  text-align: right;
}

.content {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
}
.headerContainer {
  background-color: #414141;
}
button {
  font-size: 15px;
  color: rgb(91, 104, 103);
  transform: scale(0.98);
  border: none;
  z-index: 1;
  border-radius: 2px;
  margin: 3px 3px 6px;
  transition: transform 0.3s;

  padding: 0px 2px 0px 2px;
  background-color: rgb(201, 201, 201);
}
button:hover {
  color: black;
  transform: scale(1);
  border: none;
  box-shadow: inset 1px 1px 13px #7db7ce;
  box-shadow: 2px 2px 2px rgba(92, 91, 91, 0.3);
  z-index: 21;
  border-radius: 0px;
  transition: transform 0.3s;
  text-align: center;
}

button:active {
  box-shadow: inset 0px 3px 5px 0px #787878;
  color: white;
}
.modal {
  text-align: center;
  z-index: 3;
  font-size: 1.4rem;
  animation: fadeIn linear 0.5s;
  transition: 0.92s;
  position: absolute;
  margin: 40px;
  width: auto;
  height: 80%;
  border: 1px rgb(108, 160, 228) solid;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(235, 235, 235, 0.9);
}

div.addTasksModal {
  z-index: 1;
  min-width: 800px;
  font-size: 4 rem;
  animation: fadeIn linear 0.5s;
  transition: 0.92s;
  position: absolute;
  margin: 80px auto;
  width: 60vh;
  height: 60vh;
  border: 1px rgb(108, 160, 228) solid;
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(251, 255, 255, 0.9);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html > p {
  border-bottom: black 1px solid;
  margin: 1px;
}
input {
  display: block;
  width: 50vh;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1rem;
  border-top: 1px solid black;
}

.taskModalInput {
  display: block;
  width: 90%;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 1rem;
  border-top: #686c6d 1px solid;
}

.darkened {
  background-color: rgb(0, 0, 0.2);
}

.saveSubtask {
  background-color: cornflowerblue;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.save {
  font-size: 1.4rem;
  bottom: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
}
.save:hover {
  transform: scale(1.03);
  background-color: rgb(126, 141, 181);
  box-shadow: 1px 5px 5px rgb(92, 91, 91);
}

.exit {
  position: absolute;
  font-size: 1rem;

  top: 0px;
  right: 0px;

  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.exit:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: red;
  color: white;
}

.hidden {
  display: block;
}

li {
  list-style-type: none;
}
.warning {
  color: red;
}
.sortDropdown div {
  transition: width 0.3s, background-color 0.3s, font-size 1s, transform 2s;
  color: black;
  background-color: rgb(210, 210, 210);
  width: 100%;
}
.sortDropdown div:hover {
  width: 100%;
  background-color: #8d9091;
  cursor: default;
  font-size: 1rem;
}
.sortDropdown{
  transition: 1s;
  right:0px;
  top: 25px;
  position: absolute
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}
.dueDate {
  display: inline-block;
}
.buttonHolder {
  display: flex;
  justify-content: space-evenly;
}
.green {
  background-color: green;
  color: white;
}

img {
  padding: 3px 2px 0px 2px;
}
.logoHolder {
  display: flex;
  justify-content: space-around;
  margin: 3px 3px 6px;
  padding: 0px 2px 0px 2px;
}
.logoText {
  display: inline;
  color: rgb(162, 162, 162);
  font-size: 1.7rem;
  padding-left: 5px;
}
.buttonHolder {
  display: flex;
  align-items: center;
}
